_site/
.sass-cache/
.jekyll-metadata


Bright Green: #6bff00;
Mid Green: #67af33
Dk Grn: #4f9120
bkgd brown: #0f0a05;

Bright yellow Green: b6ff00;
Mid yellow Green: #8aaf2e
dk yellow green: 658e01


Bright Blue: #306fff, rgba(48, 11, 255, 1);
Darker blue: #3e598d
very dark blue: #161b27;
orange: #f7b556, rgba(247, 181, 86, 1);

******* To Do ******

GENERAL
  - Dark Logo
  - Light Logo
  - Header BKGD
  - Update Brand Colors
  - Edit Paul's photos
  - Update Title-- in config file, must restart jekyll to see updates
  - Google Analytics???
  - Update Title to match FutureMax

HOME PAGE

CASE STUDIES

FUTURE OF WORK
  - Create Page!

CONSULTANCY
  - Create Page!

BLOG
  - Format Blog Posts
  - Decide on Launch number of Posts

ABOUT
   - Pictures
   - Testimonial
   - Isity and Personal content?

CONTACT
