_site/
.sass-cache/
.jekyll-metadata



******* To Do ******

GENERAL
  - Dark Logo
  - Light Logo
  - Header BKGD
  - Update Fonts
  - Update Brand Colors
  - Edit Paul's photos

HOME PAGE

CASE STUDIES
  - Add Case Studies Needed
  - Fix footer on Case Studies
  - Format Project Description Info

FUTURE OF WORK
  - Create Page!

CONSULTANCY
  - Create Page!

BLOG
  - Format Blog Posts
  - Decide on Launch number of Posts

CONTACT
  - Format descriptions for kinds of social media
  - Add "where to meet paul" section
  - Add Hiring Paul section (work he does, clients he wants)
