.map {
	width: 100%;
	height: 440px;
}

.contact-box {
	margin: 0 auto;

	form {
		width: 100%
	}

	p {
		margin: 0;
		padding-bottom: 40px;
	}

	.contact-form, .contact-details  {
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
	}

	.contact-details {
		font-size: .9em;
	}
}

.hire{
	padding-top: 100px;
}

.contactfuturemax{
	margin-bottom: 60px;
}
